.main-container{
    background-color: #008299;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.card{
    width: 40rem;
}

.header {
  display: flex;
  justify-content: center;
}

.headimg {
  border-radius: 100%;
}

body {
  background-color: #daffe7;
}
